body {
    background: yellow;
}
header, main, footer {
min-width: 855px;
}
/* header .container, main .container, footer .container {
max-width: 855px;
margin: auto;
} */
header {
background: white;
overflow: auto;  
font-family: 'Denk One',sans-serif;
}

header h1 {
    font-family: 'Denk One',sans-serif;
    float: left;
    width: 570px;
    color: red;
    padding: 10px;
    margin-left: 50px;
}
header nav {
    float: right;
    width: 285px;
    margin-top: 25px;
}
main {
    background: white;
}
footer {
    background: yellow;
}
div.content {
    float: left;
    font-size: 125%;
    margin-top: 50px;
}
img {
    float:right;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 150px;
    height: 250px;
    width: 150px;
}
div.sitemap {
    float: right;
    font-size: 120%;
    
}
div.q {
    float: right;
    margin-right: 150px;
}
.p {
    float: left;
    margin-right: 40px;
}
.contact {
    float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
    text-decoration: none;
    color:darkviolet;
}
a:hover {
    color: red;
    text-decoration: underline;
}
